<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
</div>

<div class="row">

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Profesionales</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @employees.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-users fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Periodos de permanencia</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @periods.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-danger shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Proyectos</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @projects.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-project-diagram fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Analistas</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= User.count %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-industry fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="card shadow mb-4 border-left-success">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-success">
    Buscador AITO
  </div>
  <div class="card-body">
    <table class="table table-bordered text-center" id="dttb">
      <thead>
        <tr>
          <th>RUT</th>
          <th>Nombre Completo</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.rut %></td>
            <td><%= employee.name %></td>
            <td>
              <%= link_to employee, class: 'btn btn-primary btn-sm' do %>
                <% icon('fas', 'eye') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>