<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :rut, label: 'RUT', input_html: { id: 'rut' } %>
      </div>
      <div class="col-md-6">
        <%= f.input :name, label: 'Nombre Completo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= f.input :employee_type, label: 'Tipo persona', collection: [ 'Natural', 'Juridica' ], as: :radio_buttons %>
      </div>
    </div>

    <div class="js-dependent-fields" data-radio-name="employee[employee_type]" data-radio-value="Juridica">
      <div class="card shadow mb-4 border-left-success">
        <div class="card-header">
          <h6 class="m-0 font-weight-bold text-success">Datos persona juridica</h6>
        </div>
        <div class="card-body">
          <div id="teams">
            <%= f.simple_fields_for :teams do |team| %>
              <%= render 'team_fields', f: team %>
            <% end %>
            <%= link_to_add_association 'Agregar profesional', f, :teams, class: 'btn btn-success btn-sm'  %>
          </div>
        </div>
      </div>
    </div>

    <div class="js-dependent-fields" data-radio-name="employee[employee_type]" data-radio-value="Natural">
      <%= f.input :amount, label: 'Monto contratado del profesional' %>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :fiscal_inspector, label: 'Inspector fiscal' %>
        </div>
        <div class="col-md-6">
          <%= f.input :technical_unit, label: 'Unidad tecnica' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <%= f.input :profession, label: 'Especialidad' %>
        </div>
        <div class="col-md-6">
          <%= f.input :charge, label: 'Cargo' %>
        </div>
      </div>
    </div>

  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Cancelar', root_path, class: 'btn btn-secondary btn-sm' %>
  </div>
<% end %>
