<%= simple_form_for(@employee) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-4">
        <%= f.input :rut, label: 'RUT', input_html: { id: 'rut' } %>
      </div>
      <div class="col-md-4">
        <%= f.input :person_type, label: 'Tipo Persona' %>
      </div>
      <div class="col-md-4">
        <%= f.input :name, label: 'Nombre Completo' %>
      </div>
    </div>
    <%= f.input :amount, label: 'Monto Contratado del Profesional' %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :fiscal_inspector, label: 'Inspector Fiscal' %>
      </div>
      <div class="col-md-6">
        <%= f.input :technical_unit, label: 'Unidad Tecnica' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :profession, label: 'Especialidad' %>
      </div>
      <div class="col-md-6">
        <%= f.input :charge, label: 'Cargo' %>
      </div>
    </div>

  </div>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-sm' %>
    <%= link_to 'Cancelar', root_path, class: 'btn btn-secondary btn-sm' %>
  </div>
<% end %>
