<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <h3>AITOs</h3>
  </div>
  <div class="col-md-6 text-right">
    <%= link_to 'Ingresar Nuevo Registro', new_employee_path, class: 'btn btn-primary' %>
  </div>
</div>
<hr>
<table class="table table-bordered" id="dttb">
  <thead class="text-center">
    <tr>
      <th>Nombre Completo</th>
      <th>Unidad Tecnica</th>
      <th>Inspector Fiscal</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody class="text-center">
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.technical_unit %></td>
        <td><%= employee.fiscal_inspector %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Ver', employee, class: 'btn btn-primary' %>
            <%= link_to 'Editar', edit_employee_path(employee), class: 'btn btn-primary' %>
            <%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
