<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Ingresar nuevo periodo de prestación', new_period_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<br>

<div class="card shadow mb-4 border-left-primary">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-primary">
    Periodos de prestación
  </div>

  <div class="card-body">
    <table class="table table-bordered text-center" id="dttb">
      <thead>
        <tr>
          <th>Empleado</th>
          <th>Inicio</th>
          <th>Termino</th>
          <th>Resolución</th>
          <th>Jornada</th>
          <th>Cantidad Días</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @periods.each do |period| %>
          <tr>
            <td><%= period.employee.name %></td>
            <td><%= period.start_date %></td>
            <td><%= period.end_date %></td>
            <td><%= period.resolution %></td>
            <td><%= period.working_day %></td>
            <td><%= period.quantity %></td>
            <td>
              <%= link_to period, class: 'btn btn-primary btn-sm' do %>
                <% icon('fas', 'eye') %>
              <% end %>
              <%= link_to edit_period_path(period), class: 'btn btn-success btn-sm' do %>
                <% icon('fas', 'edit') %>
              <% end %>
              <%= link_to period, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-sm' do %>
                <% icon('fas', 'trash-alt') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
