<p id="notice"><%= notice %></p>
<div class="card">
  <h2 class="card-header">Periodo Prestación</h2>

  <div class="card-body">
    <p><strong>Empleado:</strong></p>
    <p><%= @period.employee.name %></p>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <p><strong>Fecha inicio:</strong></p>
        <p><%= @period.start_date %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Fecha termino:</strong></p>
        <p><%= @period.end_date %></p>
      </div>
    </div>
    <hr>
    <p><strong>Resolución:</strong></p>
    <p><%= @period.resolution %></p>
    <hr>
    <p><strong>Jornada:</strong></p>
    <p><%= @period.working_day %></p>
    <hr>
    <p><strong>Cantidad días:</strong></p>
    <p><%= @period.quantity %></p>
    <h3>Permanencia</h3>
    <hr>
    <% @period.permanences.each do |permanence| %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <p><strong>Nombre permanencia: </strong></p>
              <p><%= permanence.name %></p>
            </div>
            <div class="col-md-4">
              <p><strong>Resolución permanencia: </strong></p>
              <p><%= permanence.resolution %></p>
            </div>
            <div class="col-md-4">
              <p><strong>Fecha termino permanencia: </strong></p>
              <p><%= permanence.end_date %></p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <p><strong>Descripción permanencia: </strong></p>
              <p><%= permanence.description %></p>
            </div>
          </div>
        </div>
      </div>
      <br> 
    <% end %>
  </div>
  <div class="card-footer">
    <%= link_to 'Editar registro', edit_period_path(@period), class: 'btn btn-success' %>
    <%= link_to 'Cancelar', periods_path, class: 'btn btn-secondary' %>
  </div>
</div>
