<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-3">
        <%= f.input :bip, label: 'BIP' %>
      </div>
      <div class="col-md-3">
        <%= f.input :name, label: 'Nombre del proyecto' %>
      </div>
      <div class="col-md-3">
        <%= f.input :stage, label: 'Etapa' %>
      </div>
      <div class="col-md-3">
        <%= f.input :ubication, label: 'Comuna' %>
      </div>
    </div>
    <%= f.input :description, label: 'Descripción' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>
