<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-header"><%= @project.name %></div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p>
          <strong>Nombre proyecto:</strong>
          <%= @project.name %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Codigo BIP:</strong>
          <%= @project.bip %>
        </p>
      </div>
    </div>
    <hr>
    <p>
      <strong>Ubicación:</strong>
      <%= @project.ubication %>
    </p>
    <hr>
    <p>
      <strong>Descripción:</strong>
      <%= @project.description %>
    </p>

  </div>
  <div class="card-footer">
    <%= link_to 'Editar registro', edit_project_path(@project), class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Volver', projects_path, class: 'btn btn-secondary btn-sm' %>
  </div>
</div>

