<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 text-left">
    <%= link_to 'Ingresar nuevo analista', new_analist_path, class: 'btn btn-primary btn-sm' %>
  </div>
</div>

<br>

<div class="card shadow mb-4 border-left-primary">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between font-weight-bold text-primary">
    Analistas
  </div>

  <div class="card-body">
    <table class="table table-bordered text-center" id="dttb">
      <thead>
        <tr>
          <th>Nombre analista</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody>
        <% @analists.each do |analist| %>
          <tr>
            <td><%= analist.name %></td>
            <td>
              <%= link_to analist, class: 'btn btn-primary btn-sm' do %>
                <% icon('fas', 'eye') %>
              <% end %>
              <%= link_to edit_analist_path(analist), class: 'btn btn-success btn-sm' do %>
                <% icon('fas', 'edit') %>
              <% end %>
              <%= link_to analist, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-danger btn-sm' do %>
                <% icon('fas', 'trash-alt') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
